<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <img src="assets/kühlschrank-no-background.png" alt="fridge" style="width:450px" />
  <div class="text-container">
  <h1> SmartFridge</h1>

  <!-- Button zum Anzeigen des Formulars -->
   <div class="button-container">
<button (click)="toggleAddProductForm()">Produkt hinzufügen</button>

<!-- Die Standalone-Komponente einbinden -->
<!-- <p>Formular sichtbar: {{ showAddProductForm }}</p> -->
<app-add-product *ngIf="showAddProductForm" ></app-add-product>
</div>
</div>
</div>
<router-outlet />


