/* Container für das Bild und die Überschrift */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 Spalten gleiche Breite*/
   /* align-items: center; /* Vertikale Ausrichtung der Elemente */
    grid-gap: 10px; /* Abstand zwischen den Elementen */
    grid-auto-rows: minmax(100px, auto);
    overflow: auto;
  }

.container h1 {
    grid-column: 2;
    text-align: left;
    align-self: start;
    font-size: 3rem; 
    color: #0c6ee6;
    font-family: 'Roboto', sans-serif;
  }

  button {
    grid-column: 2; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0c6ee6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  