<h2>Produkte aktualisieren</h2>
<div class="product-container">
    <div class="product-card" *ngFor="let product of products" (click)="editProduct(product)">
        <div class="card-content">
          <h3>{{ product.name }}</h3>
          <p>Menge: {{ product.amount }} {{ product.unit }}</p>
          <p>Ablaufdatum: {{ product.expiryDate }}</p>
        </div>
        <!-- Pfeil, der beim Hover eingeblendet wird -->
        <div class="hover-arrow">➔</div>
      </div>
</div>

<!-- Formular wird als Overlay angezeigt -->
<!--  <div *ngIf="showUpdateForm"  -->
<div *ngIf="showUpdateForm" class="overlay">
    <div class="update-form">
      <button class="close-btn" (click)="closeUpdateForm()">X</button>
      <h3>Produkt bearbeiten</h3>
  
      <label>Produktname:
        <input type="text" [(ngModel)]="selectedProduct.name" />
      </label>
  
      <label>Menge:
        <input type="number" [(ngModel)]="selectedProduct.amount" />
      </label>
  
      <label>Einheit:
        <select [(ngModel)]="selectedProduct.unit">
          <option value="g">Gramm (g)</option>
          <option value="ml">Milliliter (ml)</option>
        </select>
      </label>
  
      <label>Verfallsdatum:
        <input type="date" [(ngModel)]="selectedProduct.expiryDate" />
      </label>
  
      <button (click)="updateProduct()">Speichern</button>
    </div>
  </div>
