
/* Produktliste */
.product-container {
    display:flex; /* Produkte nebeneinander */
    flex-wrap: wrap; /* falls platz nciht reicht, geht in nächste Zeile */
    gap: 20px;
    padding-left: 20px;
}

.product-card {
    position: relative;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc; /* grauer Rahmen */
    border-radius: 10px; /* abgerundet Rahmen */
    cursor: pointer; /* zeigt an, dass Kasten klickbar ist */
    transition: box-shadow 0.3s ease; 
    font-family: 'Roboto', sans-serif;
   /* padding-left: 20px; */
  }

  .product-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    /* schatten drüberfahren */
  }

  .hover-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* mittige ausrichtung */
    opacity: 0; /* unsichtbar */
    transition: opacity 0.3s ease;
    font-size: 20px;
    color: #0c6ee6;
  }

  .product-card:hover .hover-arrow {
    opacity: 1; /* pfeil wird bei hover sichtbar */
  }

  /* Hintergrund-Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dunkler Hintergrund */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* stellt sicher, dass overlay über kasten liegt */
  }
  
  /* Das eigentliche Formular */
  .update-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    position: absolute;  /* verschiebbar machen */
    z-index: 101; /* Über alles andere legen */
    cursor: grab;
    font-family: 'Roboto', sans-serif;
    top: 50px; 
    left: 50px;
    cursor: grab;
  }

  /* Header des Formulars (für Drag-and-Drop und Schließen) */
.form-header {
    position: relative;       /* Für den Close-Button */
    background-color: #0c6ee6;  /* Blauer Header */
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  /* Schließen-Button */
  .close-btn {
    position: absolute;
    top: 25px;
    right: 10px; 
    border: none;
    background: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    margin: 0;
  }
  
  #drag-handle {
    background: #007bff;
    padding: 10px;
    cursor: grab;
    text-align: center;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    color: white;

  }

  .close-btn:hover {
    color: red;
}

:host {
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
  }

  .update-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
  }

 /* .update-form input,
.update-form select {
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-bottom: 10px; /* Optional, falls du etwas Abstand willst 
} */
  