<!-- Eingabeformular, das angezeigt wird, wenn showAddProductForm true ist -->
<!-- <div *ngIf="showAddProductForm" class="product-form">
    <label>
      Produktname:
      <input type="text" placeholder="Produktname" [(ngModel)]="newProduct.name" />
    </label>
    <label>
      Menge (g oder Portionen):
      <input type="number" placeholder="Menge" [(ngModel)]="newProduct.amount" />
    </label>
    <button (click)="saveProduct()">Speichern</button>
  </div> -->

  <!-- damit Produkt hinzufügen Formular verschiebbar -->
  <div *ngIf="showAddProductForm" #draggable class="product-form" id="draggable">
    
    <!-- <div id="drag-handle">⬆ Zieh mich!</div> -->

    <div class="form-header" id="drag-handle">
      <h3>⬆ Zieh mich!</h3>
      <button class="close-btn" (click)="closeForm()">✖</button>
  </div>


    <label> Produktname:
      <input type="text" placeholder="Produktname" [(ngModel)]="newProduct.name" required />
    </label>

    <div class="form-row">
    <label> Menge:
      <input type="number" placeholder="Menge" [(ngModel)]="newProduct.amount" required />
    </label>

    <label>Einheit:
        <select [(ngModel)]="newProduct.unit">
            <option value="g"> Gramm (g) </option>
            <option value="ml"> Milliliter (ml)</option>
            <option value="Stück"> Stück</option>
        </select>
      </label>
    </div>
  

    <label> Verfallsdatum:
        <input type="date" [(ngModel)]="newProduct.expiryDate" required />
    </label>

    <button (click)="saveProduct()">Speichern</button>
  </div>
  