
<!-- Buttons für die Aktionen -->
<button (click)="toggleAddProductForm()">Produkt hinzufügen</button>

<!-- Eingabeformular, das angezeigt wird, wenn showAddProductForm true ist -->
<div *ngIf="showAddProductForm" class="product-form">
    <label>
      Produktname:
      <input type="text" placeholder="Produktname" [(ngModel)]="newProduct.name" />
    </label>
    <label>
      Menge (g oder Portionen):
      <input type="number" placeholder="Menge" [(ngModel)]="newProduct.amount" />
    </label>
    <button (click)="saveProduct()">Speichern</button>
  </div>